[submodule "3rdparty/googletest"]
	path = 3rdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "3rdparty/Simple-Web-Server"]
	path = 3rdparty/Simple-Web-Server
	url = https://gitlab.com/eidheim/Simple-Web-Server.git
[submodule "3rdparty/inja"]
	path = 3rdparty/inja
	url = https://github.com/pantor/inja.git
[submodule "3rdparty/CTPL"]
	path = 3rdparty/CTPL
	url = https://github.com/vit-vit/CTPL.git
